<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <span class="text-secondary">&copy; CampSAGE 2023</span>
    </div>
</footer>